* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(0, 102, 255);
}
.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

svg {
  margin-top: -60px;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.klik {
  cursor: pointer;
}

.lead {
  font-size: 10px !important;
  margin-top: -10px;
  margin-bottom: 30px !important;
}

.text-about {
  font-size: 10px;
}

.card-text {
  font-size: 15px;
}

.text-contact {
  font-size: 13px;
}

ul li a {
  color: rgb(0, 0, 0) !important;
}

/* responsif breakpoint */
@media screen and (min-width: 576px) {
  .hero {
    width: 200px;
  }
  .lead {
    font-size: 20px !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .display-6 {
    font-size: 3.5rem !important;
  }

  .text-about {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1.5rem;
  }

  .text-contact {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  ul li a {
    color: white !important;
  }
}
